[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=
Exec=/usr/bin/chromium --profile-directory=Default --app-id=adnlfjpnmidfimlkaohpidplnoimahfh
Icon=/home/diego/Icones/youtube1.png
Path=
Terminal=false
StartupNotify=false
