[Desktop Entry]
Version=1.0
Type=Application
Name=Nemo
Comment=Acesse e organize arquivos
Exec=nemo %U
Icon=/home/diego/Icones/pasta.png
Path=
Terminal=false
StartupNotify=false
